<%- include("partials/header.ejs") %>

<!-- Nav -->
<%- include("partials/navbar.ejs") %>
<!-- Nav end -->

<ul>
  <% for(let cat of cats) { %>
  <li><%= cat %></li>
  <%}%>
</ul>

<%- include("partials/footer.ejs") %>
