<%- include("partials/header.ejs") %>

<!-- Nav -->
<%- include("partials/navbar.ejs") %>
<!-- Nav end -->

<h1>Home Page!</h1>
<h3><%= "Hello World!".toUpperCase() %></h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, facere.
  Cum esse ducimus provident quam perferendis, veritatis nostrum reprehenderit
  ipsam eius, quia sunt distinctio! Voluptas similique rerum dicta aspernatur
  numquam.
</p>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio rem,
  aperiam repellat iure mollitia corrupti labore facere veniam dolor praesentium
  sunt reprehenderit animi libero quo nemo soluta? Officiis, at distinctio!
</p>

<%- include("partials/footer.ejs") %>
